/*
 Copyright 2018-2023 Hewlett Packard Enterprise Development LP

Permission is hereby granted, free of charge, to any person obtaining a copy of this software 
and associated documentation files (the "Software"), to deal in the Software without restriction, 
including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, 
and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, 
subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or 
substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, 
INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR 
PURPOSE AND NONINFRINGEMENT.

IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR 
OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF 
OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/


html {
    font-family: Arial, Helvetica, sans-serif;
}


body {
    min-width: 1020px;
    word-wrap: break-word;
}

:root {
  --main-bg-color: #01a982;
}

.field {
    margin: 3px 2px 3px 5px;
    display: inline-block;
}

.frame .field input {
    margin: 1px 0px 0px 0px;
}

.tooltip,
.field .tooltip,
.flatfield .tooltip{
    visibility: hidden;
    background-color: grey;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px 2px 2px;
    white-space: nowrap;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 5px;
    /* left: 95%; */
    
 	opacity: 0;
    transition: opacity 1s;
}

.tooltip,
.field .tooltip::after,
.flatfield .tooltip::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent grey transparent transparent;
}
.field:hover .tooltip,
.flatfield:hover .tooltip {
    visibility: visible;
    opacity: 1;
}
label { 
	font-size: 13px;
	font-weight: bold;
	color: white;
}

select {
	display: block;
    float: top;
    box-sizing:content-box;
}

input, label, textarea {
	display: block;
    float: top;
    box-sizing:content-box;
}

input {
    padding: 4px 2px 4px 2px;
}

#countradio label,
#estimateradio label,
#outputformatradio label,
#estimatern label {
	display: inline;
    float: left;
    margin: 5px 7px 0px 0px;
}

#countradio input,
#estimateradio input,
#outputformatradio input,
#estimatern input {
	display: inline;
    float: left;
    margin: 0px 2px 0px 0px;
}

.frame {
	float: top;
	display: flex;
 	overflow: hidden;
	margin: 0 0 3px 0px;
	padding: 3px;
	background: var(--main-bg-color);       /* HPE Green */ 
/*	background: #00a3cc;  */   /* Nice blue */ 
}
button {
	margin: 7px;
  	padding: 8px;
	background-color: #adad85;
	color: white;
    border-color: rgba(193, 214, 188, 0.548);
    border-width: thick;
}
.tablebutton {
	margin: 2px;
  	padding: 4px;
	background-color: #adad85;
	color: white;
}
table {
    font-size:14px;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

td, th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

thead {
	top: 0;
	position: sticky;
}

tr:nth-child(even){background-color: #f2f2f2}

thead {
    padding-top: 11px;
    padding-bottom: 11px;
/*    background-color: var(--main-bg-color); */
    background-color: #01a982; 
    color: white;
}

.ic {
/*    background-color: var(--main-bg-color); */
    background-color: #01a982; 
    color: white;
}

.gitnote {
	font: status-bar;
	margin: 0px 10px;
}
.gitlabel {
	font-size: 15px;
	font-weight: 600;
    line-height: 2;
    text-align: center;
    padding: 0px 0px;
}
.gitbutton {
	font-size: 13px;
	font-weight: 300;
    line-height: 2;
    text-align: center;
    padding: 2px 15px;
}
.gitlabelblock {
	margin: 5px 5px;
 	display: grid;
  	grid-template-columns: 200px 200px 200px;
  	float: left;
}

.labelframe {
	float: left;
	border: 2px dashed green;
	margin: 5px 5px;
	padding: 5px 5px; 
  	width: 620px;
}

.frameheader {
	color: white;
	width: 20%;
}

.thetwoframes {
	float: top;
}

.flatfield {
    margin: 0 0 3px 0px;
    position: relative;
    display: inline-block;
}

/* Snack bar and animation stuff */
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: var(--main-bg-color);
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

/* Select 2 stuff */ 
.select2, .select2 option {
  font-size:15px;
  padding: 0px 0px 0px 0px;
}

[class^='select2'] {
    border-radius: 0px !important;
}

/* Dropdown menu stuff */
.dropdown {
    display: inline-block;
    margin: auto 5px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
    font-size:14px;    
}
.dropdown-content a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    font-family: sans-serif;
}
.dropdown-content a:hover {
	color: white; 
	background-color: var(--main-bg-color);
}
.show {
	display:block;
}
